.item-Search-button{
    color: #ADB5BD;
  
}



@media(min-width:1024px) {


    .item-Search-button{
       
        width: 10vh;
       
    }
    
    
}

@media(min-width:768px) {


    .item-Search-button{
       width: 20vw;
        text-align: center;
        
        
    }
    
    
}