.authentication {
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}
.details {
    padding: 30px 100px 20px 10px;
}
.details_info {
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    padding: 12px;
}
.details_info div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 12px 0px;
}
.details_info div:nth-child(1) {
    border-bottom: 1px solid #f1f1f1;
}
.details_info div h5 {
    color: #ccc;
    font-weight: lighter;
}
.details_info div input.unactive {
    color: #000;
    border: none;
    font-size: 18px;
    margin-top: -5px;
    margin-left: 10px;
}
.details_info div .edit {
    color: lightskyblue;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
}

.details_details h5 {
    font-size: 20px;
    margin-top: 20px;
}
.details_details div {
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.details_details div input {
    margin-right: 12px;
}
.details-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 20px 10px;
}
.details-footer .btn-send {
    padding: 12px 15px;
    border: none;
    background: #C53D11;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
}
.details-footer a {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}
@media screen and (max-width: 720px) {
    .authentication {
        grid-template-columns: auto;
    }
} 