

.tr-request {
    display: flex;
    
    width: 100%;
    margin: 2vw;
    align-items: center;

}


.td-request {
    font-weight: 700;
}

.time-request {
    font-weight: 100;
    margin-left: 6vw;
    margin-right: 4vw;

}


.font-mobile-request {
    font-size: small;
}


.img-td-request {
    border-radius: 100%;
    width: 8vw;
    height: 8vw;
}

.container-request{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

.status-request{
    color: #C53D11;
}

.mobile-request {
    width: 18px;
    height: 18px;
    border: solid 2px;
    border-radius: 28%;
    padding: 4px;
    margin: 0.6vh 1vw 0 1vw;
}

.span-request{
    width:100%;

}

.container-buttons-request{
    display: flex;
    
    
}



/* 
768px */

/*           TABLET         RESPONSIVE          */

@media(min-width:768px) {


    .tr-request {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 2vw;

    }

    .img-td-request {

        width: 5vh;
        height: 5vh;
        margin-top: 1vh;
    }

    .td-request {
        margin: 2vh 0;

    }


    .font-mobile-request {
        font-size: medium;
    }




}


/* 
1024px */

/*           DESKTOP         RESPONSIVE          */

@media(min-width:1024px) {

    .tr-request {
        display: flex;
        justify-content: space-around;
        width: auto;
        margin: 1vw;
        

    }

    .img-td-request {

        width: 5vh;
        height: 5vh;
        margin: 0;
        
    }

    .td-request {
        margin: 0;

    }


    .font-mobile-request {
        font-size: medium;
    }


  
}