.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 20px;
    margin: 100px auto;
    max-width: 1024px;
    justify-content: center;
}

.menu .spin {
    display: grid;
    grid-column: auto;
    justify-content: center;
}

.menu-card {
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.menu-card_details {
    border-top: 1px solid #ccc;
    padding: 8px 8px 5px;
    position: relative;
}

.menu-card_img {
    cursor: pointer;
    overflow: hidden;
}

.menu-card_img img {
    max-width: 250px;
}

.menu-card_img .btn-modal {
    position: absolute;
    right: 10px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 50%;
    border: none;
    background: #fff;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 8px 5px;
}

.card_footer button {
    padding: 8px 12px;
    color: #fff;
    border: none;
    background-color: #2ECC71; 
    cursor: pointer;
}

@media screen and (max-width: 720px){
    .menu {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 600px){
    .menu {
        grid-template-columns: auto auto;
    }
}