.navbarMobile {
    position: fixed;
    width: 100%;
    background: #ffffff;
    padding: 10px;
    z-index: 1000;
    top: 0;
}
.navbarMobile-buttons {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.navbarMobile-buttons_btn {
    text-align: right;
}

.navbarMobile-buttons_btn .icon {
    margin-right: 20px;
}
.logo a {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.logo img {
    width: 30px;
    margin-right: 10px;
}
@media screen and (min-width: 720px) {
    .navbarMobile {
        display: none;
    }
}