.main-div-orders-control{
    border:  solid black 2px;
    width: 80%;
    border-radius: 12px;
 
}

.child-div-content{
    margin: 4em 8em;

}


.child-div-orders-control{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
}