.main-div-orders-control{
   
    width: 40%;
    border-radius: 12px;
    
    
}

.child-div-content{
    width: 100%;
    margin-top: 3vh;

}


.child-div-orders-control{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.div-item-search{
    display: flex;
    justify-content: space-around;

}





@media(min-width:1024px) {


    .div-item-search{
       
        margin-left: 2vw;
    }
    
}

@media(min-width:768px) {


    .div-item-search{
       
      margin-left: 5vw;
    }
    
}