@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.orders {
    margin-top: 30px;
    width: 80vw;
}

.orders-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 150px, 1fr));
    gap: 16px; 
}

.orders-container {
    color: rgb(36, 36, 36);
    margin-top: 30px;
}
.orders-container h2 {
    font-weight: lighter;
    margin-top: 20px;
    line-height: 15px;
}
.orders-container span {
    font-weight: lighter;
    font-size: 15px;
}
.orders-incomings_container {
    display: grid;
    
}

.orders-incomings_container .orders-incomings_title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.orders-incomings_container .orders-incomings_title h4 {
    font-size: 22px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.orders-incomings_container .orders-incomings_title a {
    color: rgb(255, 60, 0);
    text-decoration: none;
}

.orders-incomings {
    padding-top: 20px;
}
.orders-incomings .register {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.orders-incomings .register .open-modal {
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    background: none;
}
.orders-incomings .register .open-modal:hover {
    background: lightblue;
}
.orders-incomings .register span {
    background-color: lightblue;
    color: rgb(63, 109, 124);
    padding: 5px 6px;
    border-radius: 5px;
    cursor: pointer;
}

.orders-incomings .register .buttons-add button {
    padding: 4px 8px;
    background: none;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.orders-incomings .register .buttons-add button:hover {
    background-color: lightblue;
}

.buttons-add{
    cursor: pointer;
}


.register span {
    background: none;
}
.register .buttons-add {
    text-align: right;
    padding-top: 5px;
}
.register .buttons-add button {
    background: none;
    border: 1px solid green;
    color: green;
}
.register .buttons-add button:nth-child(2) {
    background: none;
    border: 1px solid red;
    color: red;
}

.icon-confirm {
    font-size: 25px;
    color: rgb(70, 217, 53);
}

.orders-incomings_title span {
    font-family: 'Barlow', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.orders-incomings h4 {
    padding: 8px 0;
}