body {
  overflow-x: hidden;
}
.header {
  margin: auto;
  display: flex;
  height: 100vh;
}
.header-column_titles {
  width: 45%;
  position: relative;
  line-height: 0.5;
}
.header-column_titles .titles {
  position: absolute;
  bottom: 200px;
}

.active1 {
  -webkit-animation-name: fadeIn1;
  animation-name: fadeIn1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.active2 {
  -webkit-animation-name: fadeIn2;
  animation-name: fadeIn2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.active3 {
  -webkit-animation-name: fadeIn3;
  animation-name: fadeIn3;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-column_titles .titles h1 {
  color: #d85613;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}
.header-column_titles .titles h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.header-column_titles .titles p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #333;
}

.header-column_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  position: relative;
}

.header-column_circle {
  width: 420px;
  height: 420px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50% 50% 0 0;
  border: 5px dotted red;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.circle_pricipal {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
}

.circle_pricipal img {
    width: 100%;
}

.satelites {
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  display: grid;
}
.satelites.rotate {
  animation: 1s rotate ease;
}

@keyframes rotate {
  80% {
    transform: rotate(90deg);
    opacity: 0;
  }
}

.satelite {
  width: 80px;
  height: 80px;
  background-color: grey;
  position: absolute;
  border-radius: 50%;
}

.satelite.uno {
  transform: translateY(-250%);
}
.satelite.dos {
  transform: translateX(-250%);
}
.satelite.tres {
  transform: translateX(250%);
}
.circle-bg {
    position: absolute;
    width: 1176px;
    height: 1176px;
    min-width: 320px;
    min-height: 320px;
    max-width: 1176px;
    max-height: 1176px;
    left: -248px;
    top: -900px;
    border-radius: 50%;
    z-index: -1;
}
.circle-bg.circle1 {
  background: #fbb488;
}
.circle-bg.circle2 {
  background: #a7a578;
}
.circle-bg.circle3 {
  background: #ddb97c;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  border: none;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 50%;
  cursor: pointer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 620px) {
}

@media screen and (max-width: 620px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .header-column_titles {
    width: 100%;
    line-height: 1;
  }
  .header-column_carousel {
    display: none;
  }
}
