.form {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    z-index: 1000;
}
.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form form input,
.form form select,
.form form .button-send {
    padding: 8px 12px;
    margin: 5px 0;
}

.form form .button-send {
    background-color: #d87544;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-image {
    width: 100%;
}
.form-image img {
    width: 200px;
}