.buttonsSigin {
    font-size: 15px;
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
    background: none;
}
.buttonsSigin.user {
    display: flex;
    flex-direction: column;
}

.buttonsSigin:nth-child(1) {
    border: 1px solid #D85613;
    border-radius: 5px;
    color: #D85613;
    margin: 5px;
}

.buttonsSigin:nth-child(2) {
    background-color: #D85613;
    border-radius: 5px;
    color: #fff;
}

.buttonsSigin:hover {
    background-color: #d87544;
    color: #fff;
}

.dropdown {
    border-top: 1px solid #d87544;
    padding: 12px 0 8px;
    display: none;
    position: relative;
}

.dropdown.active {
    display: block;
}

.dropdown:hover {
    background-color: #59250c;
}