.tr {
    display: flex;
    justify-content: space-around;

    width: 100%;
  
}

.order {
    color: #436BAA;
    text-transform: uppercase;

}


td {
    font-weight: 700;
}

.taken {
    padding: 0.5em 2em;
    color: #24BDC7;
    border-radius: 5px;
    background-color: #24BDC71A;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.orderState:hover {
    background-color: #24BDC71A;
}

.refunded {
    padding: 0.5em 2em;
    color: #616161;
    border-radius: 5px;
    background-color: #7000FF1A;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.refunded:hover {
    background-color: #7000FF1A;
}

.cancel {

    padding: 0.5em 2em;

    color: #E80000;
    border-radius: 5px;
    background-color: rgba(232, 0, 0, .1);
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;

}

.pending {
    padding: 0.5em 2em;

    color: #FF9900;
    border-radius: 5px;
    background-color: rgba(255, 153, 0, 0.1);
    ;
    cursor: pointer;
    font-weight: 700;
 
    text-transform: uppercase;
}

.paid {
    padding: 0.5em 2em;

    color: #16C35B;
    border-radius: 5px;
    background-color: rgba(22, 195, 91, .1);
    cursor: pointer;
    font-weight: 700;
     
    text-transform: uppercase;
}

.delivered {

    padding: 0.5em 2em;

    color: #16C31E;
    border-radius: 5px;
    background-color: rgba(67, 107, 170,.1);
    cursor: pointer;
    font-weight: 700;
  
    text-transform: uppercase;

}



.img-td{
    border-radius: 28px;
}


/* 
768px */

/*           TABLET         RESPONSIVE          */

@media(min-width:768px) {


    .img-td{
        width: 5vh;
        height: 5vh;
        margin-top: 1vh;
    }
    
    td{
        margin: 2vh 0;
        
    }



 }

 @media(min-width:1024px) {

  }