.tr-pedidos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2vw;
    align-items: center;

}




.td-pedidos {
    font-weight: 700;
}

.date-pedidos {
    font-weight: 100;

}


.font-mobile-pedidos {
    font-size: small;
}


.img-td-pedidos {
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
}



/* 
768px */

/*           TABLET         RESPONSIVE          */

@media(min-width:768px) {


    .tr-pedidos {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 2vw;

    }

    .img-td-pedidos {

        width: 5vh;
        height: 5vh;
        margin-top: 1vh;
    }

    .td-pedidos {
        margin: 2vh 0;

    }


    .font-mobile-pedidos {
        font-size: medium;
    }




}


/* 
1024px */

/*           DESKTOP         RESPONSIVE          */

@media(min-width:1024px) {

    .tr-pedidos {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 2vw;

    }

    .tr-mobile-pedidos {
        display: none;

    }

}