.email{
    display: flex;
}



.button{
    background-color: #EB9F3F;
    padding: 3px 8px;
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer; 
}

.input{
    padding: 3px 8px;
}

.error{
    background-color: #f4eadf;
    width: 14vh;
    height: 4vh;
    color: rgb(81, 7, 7);
    text-transform: uppercase;
    font-size: 1vh;
}